main {
    margin-top: 60px;
}
/* Sticky Footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url("gradient-16415.jpg");
}
h1, h4, h3, .checkbox, label {
    color: #A9A9A9;
}
.well {
    background-color: #79758b;
}
.post-title {
    color: #333333;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #222;
}
.post-body {
    font-size: 18px;
}
.post-email {
    font-size: 14px;
}
.post-categories {
    font-size: 12px;
    color: #03075a;
    font-style: italic;
}
.message {
    color: red;
}
/*https://codepen.io/hakimel/pen/rJtus*/
button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
}
/* Custom */
button {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    top: 0;
    font-size: 30px;
    color: black;
    font-family: "Open Sans", Helvetica;
    border-radius: 4px;
    border-bottom: 1px solid rgba(41, 64, 105, 0.95);
    /*background: rgba( 22, 230, 137, 1 );*/
    background: #79758b;
    box-shadow: 0px 0px 0px rgba(40, 84, 105, 0.85);

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.home-button {
    color: black;
}
button:hover {
    top: -10px;
    box-shadow: 0px 10px 10px rgba( 40, 84, 105, 0.85);

    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg);
}
button:active {
    top: 0px;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
    /*background: rgba( 20, 224, 133, 1 );*/
    background: #79758b;
}