main {
    margin-top: 60px;
}
/* Sticky Footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #2D314B;
}
h1, h4, h3, .checkbox, label {
    color: #A9A9A9;
}
.well {
    background-color: lightgray;
}
.post-title {
    color: #333333;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #222;
}
.post-body {
    font-size: 18px;
}
.post-email {
    font-size: 14px;
}
.post-categories {
    font-size: 12px;
    color: blue;
    font-style: italic;
}
.message {
    color: red;
}