main {
    margin-top: 60px;
}
/* Sticky Footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #2D314B;
}
h1, h4 {
    color: #A9A9A9;
}
.well {
    background-color: lightgray;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #222;
}