<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/header :: header('Posts')"></head>
    <body>
        <div th:replace="partials/navbar :: navbar"></div>
        <main class="container">
            <form th:action="@{/posts/create}" th:method="post" th:object="${newPost}">
                Title:
                <input th:field="*{title}" />
                <br />
                Body:
                <input th:field="*{body}" />
                <br />
                <input type="submit" />
            </form>
        </main>
        <div th:replace="partials/footer :: footer"></div>
    </body>
</html>