<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/header :: header('Single Post Page')"></head>
    <body>
        <div th:replace="partials/navbar :: navbar"></div>
        <main class="container">
            <h3><span th:text="${post.title}"></span></h3>
            <p class="post-categories"><span th:each="category : ${post.categories}" th:text="${category.name + ' '}" class="font-italic"></span></p>
            <p><span th:text="${post.body}"></span></p>
            <p class="post-email">Posted By: <span th:text="${post.owner.email}"></span></p>
            <a th:href="@{/posts/{postId}/edit/(postId=${post.getId()})}"><button>Edit Post</button></a>
        </main>
        <div th:replace="partials/footer :: footer"></div>
    </body>
</html>