<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head></head>
    <body>
        <nav th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Emma's Blog</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/posts}">Home</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/posts/create}">Create Post</a></li>
                        <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
                        <li sec:authorize="!isAuthenticated()"><a th:href="@{/sign-up}">Sign Up</a></li>
                        <li>
                            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
                                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                            </form>
                        </li>
                    </ul>
                    <ul class="nav navbar-right" sec:authorize="isAuthenticated()">
                        <li style="color: #A9A9A9;">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span sec:authentication="name">Bob</span>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </body>
</html>