<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/header :: header('Home Page')"></head>
    <body>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h1>Welcome to the Blog!</h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h3>View Blog Posts</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2"><h3>Login</h3></div>
            <div class="col-md-offset-2 col-md-4"><h3>Register</h3></div>
        </div>
        <!--give the user options to login, register or view all the posts (overlapping circles that waterfall in-->
    </body>
</html>